.wonder {
    width: 100%;
    margin-top: 3dvh;
    margin-bottom: 13dvh;
    height: 83.5dvh;
    overflow: auto;

    .wonderBg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100dvh;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 200;
        display: block;
    }

    .wonderUpload {
        width: 90%;
        position: fixed;
        left: 50%;
        bottom: 8dvh;
        transform: translateX(-50%);
        z-index: 100;

        button {
            width: 100%;
            height: 5dvh;
            border: none;
            background: lightgray;
            border-radius: 2vw;
            font-size: 4.5vw;
            font-weight: 700;
        }
    }

    .myWnderBtn {
        width: 90%;
        margin: 0 auto;
        margin-bottom: 2dvh;
        display: flex;
        align-items: center;
        padding: 4vw;
        box-sizing: border-box;
        height: 7dvh;
        background: rgb(50, 50, 50);
        border-radius: 2vw;
        margin-bottom: 1dvh;
        justify-content: space-around;

        span {
            font-weight: 700;
            border: none;
            font-size: 4vw;
            background: tan;
            box-sizing: border-box;
            padding: 2vw 6vw;
            border-radius: 3vw;
            color: black;
        }
    }

    .location {
        width: 100%;
        box-sizing: border-box;
        height: 6dvh;
        padding: 1vw;
        font-size: 5.5vw;

        p {
            display: flex;
            align-items: center;
            padding: 2vw;

            span {
                margin-left: auto;
            }


            svg {
                margin-left: 2vw;
                font-size: 7vw;

            }
        }
    }

    .selectList {
        text-align: right;
        margin-bottom: 2dvh;

        select {
            border-radius: 2vw;
            border: none;
            background: lightgray;
            padding: 1vw;
            box-sizing: border-box;
            width: 27vw;
            font-size: 4vw;
            margin: 1vw;
            outline: none;
            margin-right: 3vw;

        }
    }

    .wonderList {
        width: 100%;

        .wonderTitle {
            display: flex;
            margin: 1.5vw;

            svg {
                font-size: 6vw;
                margin-right: 2vw;
            }

            h3 {
                font-size: 5vw;
            }

            span {
                margin-left: auto;
            }
        }

        ul {
            display: flex;
            flex-wrap: wrap;

            li {
                position: relative;
                overflow: hidden;
                width: 33vw;
                height: 33vw;
                margin-right: 0.5vw;
                margin-bottom: 0.5vw;

                &:nth-child(3n) {
                    margin: 0;
                }

                background: rgb(40, 40, 40);

                img {
                    position: absolute;
                    top: 40%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 40vw;
                    height: 40vw;
                }

                .loaction {
                    display: flex;
                    position: absolute;
                    z-index: 10;
                    bottom: 5%;
                    left: 3%;
                    font-size: 3vw;

                    .loactionCityGu {
                        span {
                            margin-left: 1vw;
                            display: block;
                            margin-bottom: 1vw;
                        }
                    }
                }
            }
        }
    }

    .btnBlock {
        display: block;
        width: 100%;
        height: 6dvh;
    }
}